[submodule "Dependencies/sdks/physx_sdk"]
	path = Dependencies/sdks/physx_sdk
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "Dependencies/sdks/loguru"]
	path = Dependencies/sdks/loguru
	url = https://github.com/emilk/loguru
[submodule "Dependencies/sdks/DirectXTK"]
	path = Dependencies/sdks/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "Dependencies/sdks/raknet"]
	path = Dependencies/sdks/raknet
	url = https://github.com/facebookarchive/RakNet
[submodule "Dependencies/sdks/DirectX-Graphics-Samples"]
	path = Dependencies/sdks/DirectX-Graphics-Samples
	url = https://github.com/microsoft/DirectX-Graphics-Samples.git
[submodule "Dependencies/sdks/DirectXTex"]
	path = Dependencies/sdks/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "Dependencies/sdks/amd-tootle"]
	path = Dependencies/sdks/amd-tootle
	url = https://github.com/GPUOpen-Tools/amd-tootle.git
[submodule "Dependencies/sdks/angelscript"]
	path = Dependencies/sdks/angelscript
	url = https://github.com/IngwiePhoenix/AngelScript.git
[submodule "Dependencies/sdks/DirectXShaderCompiler"]
	path = Dependencies/sdks/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
[submodule "Dependencies/sdks/imgui"]
	path = Dependencies/sdks/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/sdks/stb"]
	path = Dependencies/sdks/stb
	url = https://github.com/nothings/stb.git
[submodule "Dependencies/sdks/ACL"]
	path = Dependencies/sdks/ACL
	url = https://github.com/nfrechette/acl.git
[submodule "Dependencies/sdks/crunch"]
	path = Dependencies/sdks/crunch
	url = https://github.com/BinomialLLC/crunch.git
[submodule "ThirdParty/ImGuizmo"]
	path = ThirdParty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
