[submodule "Dependencies/sdks/physx_sdk"]
	path = Dependencies/sdks/physx_sdk
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "Dependencies/sdks/loguru"]
	path = Dependencies/sdks/loguru
	url = https://github.com/emilk/loguru
[submodule "Dependencies/sdks/DirectXTK"]
	path = Dependencies/sdks/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "Dependencies/sdks/raknet"]
	path = Dependencies/sdks/raknet
	url = https://github.com/facebookarchive/RakNet
[submodule "Dependencies/sdks/DirectX-Graphics-Samples"]
	path = Dependencies/sdks/DirectX-Graphics-Samples
	url = https://github.com/microsoft/DirectX-Graphics-Samples.git
[submodule "Dependencies/sdks/DirectXTex"]
	path = Dependencies/sdks/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "Dependencies/sdks/amd-tootle"]
	path = Dependencies/sdks/amd-tootle
	url = https://github.com/GPUOpen-Tools/amd-tootle.git
[submodule "Dependencies/sdks/angelscript"]
	path = Dependencies/sdks/angelscript
	url = https://github.com/IngwiePhoenix/AngelScript.git
