################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlexKit/v15
/Application/Debug
/Application/Release
/Application/x64
/assets
/builds
/CodeGraphData
/Dependencies
/FlexKitMayaPlug/dependencies/devkitBase
/FlexKitMetaCompiler/Debug
/FlexKitMetaCompiler/Release
/FlexKitMetaCompiler/x64/Debug
/FlexKitMetaCompiler/x64/Release
/FlexKitResourceCompiler/x64
/FlexKitResourceCompiler/Release
/FlexKitResourceCompiler/Debug
/GameState/Debug
/GameState/x64
/GeometryShaderBenchmark/x64/Debug
/GeometryShaderBenchmark/x64/Release/Geometry.078C9529.tlog
*.log
*.pdb
*.ipch
*.tlog
*.obj
*.pch
*.idb
*.exe
*.iobj
*.ipdb
*.htm
