[submodule "Dependencies/sdks/physx_sdk"]
	path = Dependencies/sdks/physx_sdk
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "Dependencies/sdks/loguru"]
	path = Dependencies/sdks/loguru
	url = https://github.com/emilk/loguru
[submodule "Dependencies/sdks/DirectXTK"]
	path = Dependencies/sdks/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "Dependencies/sdks/Yojimbo"]
	path = Dependencies/sdks/Yojimbo
	url = https://github.com/networkprotocol/yojimbo
[submodule "Dependencies/sdks/SteamSockets"]
	path = Dependencies/sdks/SteamSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
